
Host alice
Hostname 127.0.0.1
Port 22111
User root
IdentityFile .ssh/id_rsa

Host bob
Hostname 127.0.0.1
Port 22112
User root
IdentityFile .ssh/id_rsa

Host charlie
Hostname 127.0.0.1
Port 22113
User root
IdentityFile .ssh/id_rsa

Host daisy
Hostname 127.0.0.1
Port 22114
User root
IdentityFile .ssh/id_rsa

Host eric
Hostname 127.0.0.1
Port 22115
User root
IdentityFile .ssh/id_rsa

Host frank
Hostname 127.0.0.1
Port 22116
User root
IdentityFile .ssh/id_rsa
